.table {
  width: 600px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.column {
  float: left;
  width: 58px;
  height: 100%;
  border-left: solid black 1px;
}

.column:last-child {
  border-right: solid black 1px;
}
