html, body {
  margin: 0;
  padding: 0;
}

.table {
  white-space: nowrap;
  width: 150%;
}

.column {
  display: inline-block;
  width: 15%;
  height: 100%;
}

#earth {
  position: absolute;
  width: 300px;
  right: -50px;
  top: calc(50% - 200px)
}

#col1 {
  background: black;
}

#col2 {
  background: #031c4d;
}

#col3 {
  background: #25119d;
}

#col4 {
  background: #6a119d;
}

#col5 {
  background: #ff2e82;
}

#col7 {
  background: #ffa42e;
}

#col9 {
  background: #ffda2e;
}

#col8 {
  background: #ff5f2e;
}

#col10 {
  background: #ff0000;
  position: relative;
  overflow: hidden;
}

#col6 {
  background: #c8069d;
}
